POSTGRES_TRANSFER_DB=transfer_db
POSTGRES_TRANSFER_USER=transfer_user
POSTGRES_TRANSFER_PASSWORD=change_me

POSTGRES_PAYMENT_A_DB=payment_a_db
POSTGRES_PAYMENT_A_USER=payment_a_user
POSTGRES_PAYMENT_A_PASSWORD=change_me

POSTGRES_PAYMENT_B_DB=payment_b_db
POSTGRES_PAYMENT_B_USER=payment_b_user
POSTGRES_PAYMENT_B_PASSWORD=change_me

POSTGRES_RECONCILIATION_DB=reconciliation_db
POSTGRES_RECONCILIATION_USER=reconciliation_user
POSTGRES_RECONCILIATION_PASSWORD=change_me

KAFKA_HOST=localhost
KAFKA_PORT=9092